# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.eggs
*.env
*.venv
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Data
/data/

# Models
*.pkl

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit
.streamlit/

# Others
*.sqlite3
*.db

